<form>
  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-1 col-md-offset-0">
    <h4>OR</h4>
  </div>

  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
    <div class="form-group">
      <input ng-model="search.name" type="text" name="place" class="form-control" placeholder="Input city">
    </div>
    <div class="form-group">
      <input ng-model="search.country" type="text" name="place" class="form-control" placeholder="Input country">
    </div>
  </div>
</form>
