<nav class='tabs'>
  <a ui-sref="home">Home</a>
  <a ui-sref="signup">Sign Up</a>
  <a ui-sref="login">Log In</a>
</nav>

<div class="container">
  <div class="row">
    <h1>Log In</h1>
    <form ng-submit="login()" role="form" ng-init="loginForm = {}">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control" placeholder="Enter Email"/>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control" placeholder="Enter Password"/>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Log In</button>
      <a href="/#/"><button class="btn btn-danger btn-lg">Back</button></a>
    </form>
  </div>
</div>
