<h1>{{ place.name }}, {{ place.country }}</h1>
<img ng-src="{{ place.photo_main }}">
<p>{{ place.desc1 }}</p>
<p>{{ place.desc2 }}</p>
<div>Monthly Average Temperature: {{ place.avg_temps }}</div>
<div>Monthly Average Precipitation: {{ place.avg_precips }}</div>
<div>Best Months to Visit: {{ place.months }}</div>
<div>Categories: {{ place.categories }}</div>
<div>Places You May Also Like:
  <ul>
    <li ng-repeat="random in randoms">
      {{ random.name }}, {{ random.country }}
    </li>
  </ul>
</div>

<div><button class="btn btn-default" ng-click="startCreating()">Bookmark</button></div>

<bookmark-form></bookmark-form>

<div>
  <input ng-model="highchartsNG.title.text">
  <button ng-click="addSeries()">Add Series</button>
  <button ng-click="addPoints()">Add Points to Random Series</button>
  <button ng-click="removeRandomSeries()">Remove Random Series</button>
  <button ng-click="swapChartType()">Line/Bar</button>
  <highchart id="chart1" config="highchartsNG"></highchart>
</div>