<main id="homepage">
  <div class="container header-content">

    <div class="row header-content-inner">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="headline">PLAN YOUR DESTINATION</h1>
        <h3 class="sub-headline">Find the best places to visit by month</h3>
        <!-- <a href="/" class="btn btn-info btn-lg btn-heading">GO</a> -->
      </div>
    </div>

    <div class="row forms">
      <search-form></search-form>
    </div>

    <ul>
      <li ng-repeat="place in places | filter:location">
        <a ui-sref="getplace"><place place="place"></place></a>
      </li>
    </ul>
  </div>
</main>

<!--
<ul>
    <li ng-repeat="character in char.characters" ng-click="char.selectCharacter(character)">
      {{ character.firstName }}'s lightsaber is <span class="{{ character.lightsaber | lowercase }}">{{ character.lightsaber }}</span> <a href="#" ng-click="char.editCharacter(character)">Edit</a> <button ng-click="char.deleteCharacter(character)">Delete</button>
    </li>
  </ul> -->