img.main-img {
  width: 100%;
}

section.page-title {
  background-color: #F5F5F5;
  padding: 40px 0;
}

section.description {
  background-color: #FFFFFF;
  padding: 80px 0;
}

section.weather {
  background-color: #F5F5F5;
  padding: 80px 0;
}

div.sub-heading {
  text-align: center;
}

section.best-months {
  background-color: #FFFFFF;
  padding: 80px 0;
}

section.recommendations {
  background-color: #F5F5F5;
  padding: 30px 0;
}

section.bookmark {
  padding: 30px 0;
}

div.graph {
  margin: 20px 0;
}